html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --tan: #ecce8e;
  --purple: #1f271b;
  --green: #4f5d2f;
  --gray: #71816d;
  --lavender: #edf7d2;
}

div {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--lavender);
}

.top-content {
  margin-top: 1%;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: start;
}

.bottom-content {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: start;
  padding-bottom: 10px;
}

.search-contents {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin-left: 5%;
}

.nav-contents {
  grid-column: 2 / 3;
  width: 100%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
}

.search-contents input {
  flex: 1;
  max-width: 70%;
  border-radius: 1rem;
  border: none;
  height: 25px;
  padding-left: 2%;
  background-color: var(--gray);
}

.search-contents input:focus {
  outline: 1px solid var(--tan);
}

.hello {
  grid-column: 1 / 2;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  width: 40%;
  transition: 0.3s ease;
  border-radius: 1rem;
}

.hello:hover {
  background-color: var(--gray);
  border-radius: 1rem;
  padding-left: 5px;
  transform: scale(1.05);
  transition: 0.3s ease;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.hello img {
  flex: 1;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin: 10px 0;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}

.greeting p,
.greeting h3 {
  margin: 0;
  color: var(--purple);
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  padding: 10px 25px;
  border-radius: 1rem;
  border: none;
  background-color: var(--purple);
  color: var(--lavender);
  cursor: pointer;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.buttons button:active {
  transform: scale(0.95);
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--purple);
  color: var(--lavender);
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  padding-top: 2rem;
}

.spacing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.spacing:hover {
  cursor: pointer;
  color: var(--purple);
  background-color: var(--lavender);
}

.spacing h3 {
  margin: 0;
}

.links,
.support {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
}

.content h2 {
  padding: 0 2rem;
  color: var(--lavender);
}

.cards {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem 1rem;
  padding: 1rem 2rem;
}

.card {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  border: 2px solid var(--purple);
  border-radius: 0.5rem;
  padding: 5% 5% 0 5%;
  background-color: var(--lavender);
  display: grid;
  grid-template-rows: 1fr 2fr 0.75fr;
  transition: 0.3s ease;
}

.card h5 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.card p {
  margin: 0;
  padding: 0;
}

.card img {
  height: 30px;
  width: 30px;
  border-radius: 1rem;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.card img:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card-icons {
  display: flex;
  justify-content: flex-end;
}

.announcements {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  background-color: var(--lavender);
  border-radius: 1rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.announcement {
  border-bottom: 1px solid var(--gray);
}

.announcement p:first-of-type {
  color: var(--purple);
  font-weight: bold;
}

.announcement:last-of-type {
  border: none;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: self-end;
  margin: 1rem 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  height: 80%;
  background-color: var(--lavender);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.trend-title {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.user-pics {
  grid-template-columns: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user-info p {
  padding: 0;
  margin: 0;
}

.user-info p:first-of-type {
  font-weight: bold;
  color: var(--purple);
}

svg {
  height: 30px;
  width: 30px;
  fill: var(--lavender);
  background-color: var(--purple);
  border-radius: 50%;
  padding: 1px;
}

svg:hover {
  cursor: pointer;
}

svg:active {
  transform: scale(0.95);
}

.nav-contents img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.monitor {
  height: 60px;
  width: 60px;
  filter: invert(94%) sepia(17%) saturate(333%) hue-rotate(27deg)
    brightness(103%) contrast(94%);
}

.spacing img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(17%) saturate(333%)
    hue-rotate(27deg) brightness(103%) contrast(94%);
  height: 35px;
  width: 35px;
}

.spacing:hover img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(28%) saturate(482%)
    hue-rotate(56deg) brightness(102%) contrast(93%);
}

a {
  text-decoration: none;
  color: var(--lavender);
}

.spacing:hover a {
  color: var(--purple);
}

.user-pics img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid var(--purple);
}
